name: Go
on:
  issue_comment:
    types:
      - created
  push:
    branches: [ "master" ]
  pull_request:
  workflow_dispatch:

env:
  FORESIGHT_UPLOADER_SIGNER_URL: https://upload.service.runforesight.me
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true
  PR_NUMBER: ${{ github.event.number }}
  WORKFLOW_TELEMETRY_BASE_URL: https://api.service.runforesight.me
jobs:
  pre-build:
    runs-on: ubuntu-latest
    steps:
    - name: Collect Workflow Telemetry
      if: always()
      uses: runforesight/foresight-workflow-kit-action@fix/job-fetch-error
      with:
        api_key: ${{ secrets.F_LAB_API_KEY }}
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v1
      with:
        version: 14
    - run: npm install @octokit/action
    
    - run: node .github/script.js
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.18
    - name: print env
      run: |
          env
          cat /home/runner/work/_temp/_github_workflow/event.json
    - name: Test Go
      run: |
          go test -v -json ./... > ./test-report.json -coverprofile=coverage.out
    - name: ls files
      run: ls -l
    - name: ls files
      run: ls -l
    - name: Foresight Action
      if: success() || failure()
      uses: runforesight/foresight-test-kit-action@fix/job-fetch-error
      with:
        api_key: ${{ secrets.F_LAB_API_KEY }}
        test_framework: golang
        test_format: json
        test_path: ./test-report.json
        coverage_format: golang
        coverage_path: |
            coverage.out
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Collect Workflow Telemetry
      if: always()
      uses: runforesight/foresight-workflow-kit-action@1.3.0
      with:
        api_key: ${{ secrets.F_LAB_API_KEY }}
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v1
      with:
        version: 14
    - run: npm install @octokit/action
    
    - run: node .github/script.js
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.18
    - name: print env
      run: |
          env
          cat /home/runner/work/_temp/_github_workflow/event.json
    - name: Test Go
      run: |
          go test -v -json ./... > ./test-report.json -coverprofile=coverage.out
    - name: ls files
      run: ls -l
    - name: ls files
      run: ls -l
    - name: Foresight Action
      if: success() || failure()
      uses: runforesight/foresight-test-kit-action@1.3.0
      with:
        api_key: ${{ secrets.F_LAB_API_KEY }}
        test_framework: golang
        test_format: json
        test_path: ./test-report.json
        coverage_format: golang
        coverage_path: |
            coverage.out
